.address__wrapper {
  padding: 26px 20px;
  display: flex;
}
.address__wrapper--backgr {
  background: #F2F2F2;
}
.address__slogan {
  margin: 0;
  font-family: 'Oswald';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.address__place {
  font-family: 'Lato';
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
