.button {
  display: block;
  padding: 11px 44px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #68b738;
  border: none;
  text-decoration: none;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

.button--light {
  color: #444444;
  background: #f2f2f2;
}

.button--light:hover {
  background-color: #ebebeb;
}

.button--light:active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #ebebeb;
}

@media (min-width: @tablet-width) {
  .button {
    display: inline;
    padding: 16px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    display: inline-block;
  }
}
