.card {
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 22px;
  align-items: end;
}
.card__image {
  display: block;
  margin: 0 auto;
}
.card__title {
  margin: 0;
  padding-bottom: 14px;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.card__title--divide {
  display: block;
}
.card__info-property {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.card__button {
  grid-column-end: span 2;
}
.card_add-button {
  width: 30px;
  height: 30px;
  margin-bottom: 23px;
  background: url("/img/plus.svg") center no-repeat;
  border: none;
}
.card--add-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  padding-top: 25px;
}
.card__title--add-product {
  padding-bottom: 8px;
}
.card__description {
  margin-bottom: 20px;
}
.card__button--add-product {
  width: 280px;
}
.card--additional {
  row-gap: 10px;
}
.card__title--additional {
  grid-column-end: span 2;
  padding-bottom: 3px;
}
.card__info-property--additional {
  grid-column-end: span 2;
  padding-bottom: 5px;
}
