.control {
  position: relative;
  display: block;
  padding-left: 45px;
}
.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
}
.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68B738;
}
