.field-group {
  padding: 0;
  padding-bottom: 14px;
  margin: 0;
  border: none;
}

.field-group__wrapper-radio {
  position: relative;
  padding: 25px 0  0;
  margin-bottom: 39px;

  &::after,
  &::before {
    position: absolute;
    left: -20px;
    width: @mobile-width;
    height: 1px;
    background-color: #d9d9d9;
    content: "";
  }

  &::before {
    top: -2px;
  }

  &::after {
    bottom: -23px;
  }
}

.field-group__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.field-group--contacts {
  width: 100%;
  margin-bottom: -5px;
}

.field-group__icon-email {
  position: absolute;
  bottom: 14px;
  right: 16.5px;
  width: 18px;
  height: 14px;
  background: url("../img/forms-icons/email.svg");
  background-position: center;
  content: "";
  pointer-events: none;
}

.field-group__input {
  position: relative;
  flex-grow: 1;
}

.field-group__input:focus + .field-group__icon-email {
  background: #68b738;
  mask-image: url("../img/forms-icons/email.svg");
}

.field-group__input.input--error + .field-group__icon-email {
  background: #ff8282;
  mask-image: url("../img/forms-icons/email.svg");
}

.field-group__icon-phone {
  position: absolute;
  bottom: 14px;
  right: 15px;
  width: 16px;
  height: 16px;
  background: url("../img/forms-icons/tel.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  pointer-events: none;
}

.field-group__input:focus + .field-group__icon-phone {
  background: #68b738;
  background-repeat: no-repeat;
  mask-image: url("../img/forms-icons/tel.svg");
}

.field-group__input.input--error + .field-group__icon-phone {
  background: #ff8282;
  mask-image: url("../img/forms-icons/tel.svg");
}

.field-group__title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 21px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
}

.field-group__title--line span {
  display: block;
}

.field-group__title--line::before {
  position: absolute;
  top: 14px;
  width: calc(@mobile-width - 20px);
  height: 2px;
  background-color: #68b738;
  content: "";
  z-index: -1;
}

.field-group__text {
  min-width: fit-content;
  margin-right: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.field-group__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field-group__contacts-wrapper {
  .field-group__input {
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 40px;
  }
}

.field-group--comments {
  margin-bottom: -4px;

  .field-group__title {
    margin-bottom: 37px;
  }
}

.field-group--add-info {
  .field-group__title {
    margin-bottom: 39px;
  }
}

@media (min-width: @tablet-width) {
  .field-group {
    margin-bottom: 40px;
  }

  .field-group__wrapper {
    display: grid;
    grid-template-columns: 283px 283px;
    column-gap: 61px;
    row-gap: 18px;
  }

  .field-group__wrapper-radio {
    position: static;
    padding: 27px 28px 4px;
    margin-bottom: 22px;
    border: 1px solid #e7e7e7;

    &::after,
    &::before {
      display: none;
    }
  }

  .field-group__title--line span {
    display: inline;
  }

  .field-group--contacts {
    .field-group__title {
      margin-bottom: 72px;
    }
  }

  .field-group__contacts-wrapper {
    .field-group__text {
      margin-right: 22px;
    }

    .field-group__input {
      padding: 13.2px 48px 9.2px 18px;
    }

    margin-bottom: -4px;
  }

  .field-group__text {
    font-size: 20px;
    line-height: 30px;
  }

  .field-group__icon-email {
    bottom: 17.5px;
    right: 19.5px;
  }

  .field-group__icon-phone {
    bottom: 17.5px;
    right: 19.5px;
  }

  .field-group__title {
    padding: 0 40px;
    margin-left: -40px;
    font-size: 36px;
    line-height: 36px;
  }

  .field-group__title--line::before {
    width: @tablet-width;
    left: -30px;
    top: 21px;
  }

  .field-group__item {
    margin-bottom: 18px;
  }

  .field-group--comments {
    .field-group__title {
      margin-bottom: 73px;
    }
    margin-bottom: 34px;
  }

  .field-group--add-info {
    margin-bottom: 24px;

    .field-group__title {
      margin-bottom: 59px;
    }
  }
}

@media (min-width: @desktop-width) {
  .field-group {
    margin-bottom: 38px;
  }

  .field-group__title {
    display: inline-block;
    grid-column-end: span 2;
    background-color: #ffffff;
  }

  .field-group__title--line span {
    display: inline;
  }

  .field-group__title--line::before {
    width: @desktop-width;
    left: -70px;
    top: 19px;
  }

  .field-group--contacts {
    grid-column-end: span 2;
    margin-bottom: 37px;
  }

  .field-group__contacts-wrapper {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }

  .field-group--comments {
    grid-column-end: span 2;
  }

  .field-group--add-info {
    grid-column-end: span 2;
    margin-bottom: 28px;
  }

  .field-group__wrapper {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}
