.fuctionality {
  padding: 20px;
}
.fuctionality__title {
  font-family: 'Oswald';
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
}
.functionality__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.functionality__item {
  position: relative;
  list-style: none;
  width: 280px;
}
.functionality__description {
  margin: 0;
  padding-left: 80px;
}
.functionality__description::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  content: "";
}

.functionality__description--nutrients::before {
  background-image: url("img/functionality/nutrients.svg");
}
.functionality__description--powder::before {
  background-image: url("img/functionality/powder.svg");
}
.functionality__description--food::before {
  background-image: url("img/functionality/food.svg");
}
.functionality__description--date::before {
  background-image: url("img/functionality/date.svg");
}
.functionality__item--margin {
  margin-bottom: 20px;
}
