.functionality {
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.functionality__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
}

.functionality__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.functionality__item {
  position: relative;
  list-style: none;
  width: 280px;
}

.functionality__description {
  margin: 0;
  padding-left: 80px;
  padding-bottom: 6px;
}

.functionality__description::before {
  position: absolute;
  left: 0;
  top: -4px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  content: "";
}

.functionality__description--nutrients::before {
  background-image: url("../img/functionality/nutrients.svg");
}

.functionality__description--powder::before {
  background-image: url("../img/functionality/powder.svg");
}

.functionality__description--food::before {
  background-image: url("../img/functionality/food.svg");
}

.functionality__description--date::before {
  background-image: url("../img/functionality/date.svg");
}

.functionality__item--margin {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .functionality {
    padding: 15px 30px 26px;
    border-bottom: 1px solid #e6e6e6;
  }

  .functionality__item--nutrients {
    background-image: image-set(
      url("../img/functionality/background-1@2x.webp") type("image/webp") 2x,
      url("../img/functionality/background-1@1x.webp") type("image/webp") 1x,
      url("../img/functionality/background-1@2x.png") 2x,
      url("../img/functionality/background-1@1x.png") 1x,
    );
    background-repeat: no-repeat;
    background-position: right 46px bottom 13px;
  }

  .functionality__item--powder {
    background-image: image-set(
      url("../img/functionality/background-2@2x.webp") type("image/webp") 2x,
      url("../img/functionality/background-2@1x.webp") type("image/webp") 1x,
      url("../img/functionality/background-2@2x.png") 2x,
      url("../img/functionality/background-2@1x.png") 1x
    );
    background-repeat: no-repeat;
    background-position: right 7px bottom 12px;
  }

  .functionality__item--food {
    background-image: image-set(
      url("../img/functionality/background-3@2x.webp") type("image/webp") 2x,
      url("../img/functionality/background-3@1x.webp") type("image/webp") 1x,
      url("../img/functionality/background-3@2x.png") 2x,
      url("../img/functionality/background-3@1x.png") 1x
    );
    background-repeat: no-repeat;
    background-position: right 7px bottom 8px;
  }

  .functionality__item--date {
    background-image: image-set(
      url("../img/functionality/background-4@2x.webp") type("image/webp") 2x,
      url("../img/functionality/background-4@1x.webp") type("image/webp") 1x,
      url("../img/functionality/background-4@2x.png") 2x,
      url("../img/functionality/background-4@1x.png") 1x
    );
    background-repeat: no-repeat;
    background-position: right -2px bottom 12px;

    span {
      display: block;
    }
  }

  .functionality__title {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 60px;
  }

  .functionality__list {
    display: grid;
    grid-template-columns: 243px 243px;
    column-gap: 140px;
    row-gap: 2px;
  }

  .functionality__item {
    width: 243px;
    padding-top: 165px;
    padding-bottom: 57px;
  }

  .functionality__description {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .functionality__description::before {
    top: 55px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: @desktop-width) {
  .functionality {
    padding: 0 110px 0;
    border: none;
  }

  .functionality__list {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
  }

  .functionality__title {
    margin-bottom: 14px;
  }

  .functionality__item {
    padding-bottom: 56px;
  }
}
