.header-navigation {
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;
}
.header-navigation__toggle {
  border: none;
  width: 24px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: url("/img/burger-button.svg");
}
