.logo {
    &:hover {
        opacity: 0.6;
    }

    &:focus {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.3;
    }
}

.logo__academia-image {
    display: block;
}

@media (min-width: @tablet-width) {
    .logo__academia-image {
        margin-left: 23px;
    }
}