.logo {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__academia-image {
  display: block;
  color: #444444;
}

.logo__image:focus-visible.logo__image::before {
  border: none;
}

@media (min-width: @tablet-width) {
  .logo__academia-image {
    margin-left: 27px;
  }
}

@media (min-width: @desktop-width) {
  .logo__academia-image {
    margin-left: 30px;
  }
}
