.page {
    height: 100%;
}

.page__body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.page__title {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
}

.page__title--indents {
    padding: 27px 20px 41px;
}

@media (min-width: @tablet-width) {
    .page__title {
        font-size: 60px;
        line-height: 60px;
    }

    .page__title--indents {
        padding: 30px 70px 90px;
    }
}

@media (min-width: @desktop-width) {
    .page__title--indents {
        padding: 30px 110px 85px;
    }
}