.partner {
  justify-content: space-between;
}

.partner__item-link {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .partner {
    justify-content: flex-end;
  }
}
