.questionnaire {
    padding-top: 42px;
}

.questionnaire__wrapper {
    padding: 0 20px;
}

.questionnaire__description {
    margin-bottom: 40px;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    span {
        display: block;
    }
}

.questionnaire__form {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
}

.questionnaire__button-wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.questionnaire__button {
    font-size: 16px;
    line-height: 20px;
}

.qestionnaire__info {
    margin-top: 19px;
    margin-bottom: 30px;
    align-self: center;
}

@media (min-width: @tablet-width) {
    .questionnaire__wrapper {
        padding-left: 70px;
    }

    .questionnaire__description {
        font-size: 20px;
        line-height: 30px;
    }
    .questionnaire__form {
        width: 631px;
        flex-direction: column;
        align-items: stretch;
    }

    .questionnaire__button-wrapper {
        display: grid;
        grid-template-columns: 283px 283px;
        column-gap: 64px;
    }
}


@media (min-width: @desktop-width) {
    .questionnaire__wrapper {
        padding-left: 110px;
        padding-bottom: 82px;
    }
    .questionnaire__form {
        display: grid;
        grid-template-columns: 570px 570px;
        column-gap: 80px;
        width: 1220px;
    }

    .questionnaire__button-wrapper {
        grid-column-end: span 2;
        grid-template-columns: 570px 570px;
        column-gap: 80px;
    }
}
