.questionnaire__wrapper {
    padding: 0 20px;
}

.questionnaire__description {
    font-family: 'Oswald';
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.questionnaire__form {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
}


