.slider {
  position: relative;
}
.slider__image-fat {
  display: block;
  width: 140px;
}
.slider__image-slim {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
}
.slider__divider {
  position: absolute;
  top: 0;
  left: 0px;
  border: none;
  background: transparent;
  z-index: 1;
}
