.social {
    display: flex;
}

.social__item-link {
    display: block;
    width: 27px;
    height: 19px;
    margin-left: 13px;
    margin-right: 13px;
    background-image: url("/img/social/vkontakte.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.social__item-link--youtube {
    background-image: url("/img/social/youtube.svg");
}

.social__item-link--telegram {
    background-image: url("/img/social/telegram.svg");
}