.social {
  display: flex;
}
.social__item-link {
  display: block;
  margin-left: 13px;
  margin-right: 13px;
}
.social__item-link svg {
  color: #666666;
}
.social__item-link:hover svg {
  color: #68B738;
}
.social__item-link:active svg {
  color: #68B738;
  opacity: 0.3;
}
